<section class="about">
  <div class="container-big">
    <div class="about__wrapper">
      <h2 class="about__title">About us</h2>

      <div class="about__tab tab">
        <div class="tab__content active">
          <div class="tab__info">
            <h3 class="tab__name">Olivier Binet</h3>
            <span class="tab__prof">Head of business in France</span>
            <div class="tab__text">
              <p>20 years of experience in E-Commerce and FinTech, focusing on business development
                and innovation. Conducts independent coaching for startups development. Lives in Paris, France.</p>
            </div>
          </div>
          <blockquote class="tab__qoute">
            <p> We are a team of successful, modern, serial entrepreneurs with vast experience in creating IT solutions.
              We entered banking to become technological challengers.</p>
          </blockquote>
        </div>
        <div class="tab__content">
          <div class="tab__info">
            <h3 class="tab__name">Alena Valovaya</h3>
            <span class="tab__prof">Head of business in France</span>
            <div class="tab__text">
              <p>15 years of experience in E-Commerce and FinTech, focusing on business development
                and innovation. Conducts independent coaching for startups development. Lives in Paris, France.</p>
            </div>
          </div>
          <blockquote class="tab__qoute">
            <p> We are a team of successful, modern, serial entrepreneurs with vast experience in creating IT solutions.
              We entered banking to become technological challengers.</p>
          </blockquote>
        </div>
        <div class="tab__content">
          <div class="tab__info">
            <h3 class="tab__name">ThomasFinan</h3>
            <span class="tab__prof">Head of business in France</span>
            <div class="tab__text">
              <p>10 years of experience in E-Commerce and FinTech, focusing on business development
                and innovation. Conducts independent coaching for startups development. Lives in Paris, France.</p>
            </div>
          </div>
          <blockquote class="tab__qoute">
            <p> We are a team of successful, modern, serial entrepreneurs with vast experience in creating IT solutions.
            </p>
          </blockquote>
        </div>
        <div class="tab__content">
          <div class="tab__info">
            <h3 class="tab__name">Ivo Dimitrov</h3>
            <span class="tab__prof">Head of business in France</span>
            <div class="tab__text">
              <p>5 years of experience in E-Commerce and FinTech, focusing on business development
                and innovation. Conducts independent coaching for startups development.</p>
            </div>
          </div>
          <blockquote class="tab__qoute">
            <p> We are a team of successful, modern, serial entrepreneurs with vast experience in creating IT solutions.
              We entered banking to become technological challengers.</p>
          </blockquote>
        </div>

        <div class="tab__controls" data-simplebar data-simplebar-auto-hide="false">
          <ul class="tab__controls-wrap">
            <li class="tab__controls-item tab__controls-item--active">
              <span>Olivier Binet</span>
              <img src="images/content/about/1.png" alt="Olivier Binet">
            </li>
            <li class="tab__controls-item">
              <span>Alena Valovaya</span>
              <img src="images/content/about/2.png" alt="Alena Valovaya">
            </li>
            <li class="tab__controls-item">
              <span>Thomas Finan</span>
              <img src="images/content/about/3.png" alt="Thomas Finan">
            </li>
            <li class="tab__controls-item">
              <span>Ivo Dimitrov</span>
              <img src="images/content/about/4.png" alt="Ivo Dimitrov">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>