<section class="virtual-card">
  <div class="container-big">
    <div class="virtual-card__wrapper">
      <h2 class="virtual-card__title section-title">FINOM Virtual Card — quick, flexible, secure</h2>

      <ul class="virtual-card__items">
        <li class="virtual-card__item">
          <div class="virtual-card__imgs">
            <div class="virtual-card__img"></div>
            <div class="virtual-card__img"></div>
          </div>
          <span class="virtual-card__name">Pay on the go</span>
          <div class="virtual-card__text">
            <p>Forget about the hassle of physical cards and pay with just your smart phone using Apple Pay or Google
              Pay</p>
          </div>
        </li>
        <li class="virtual-card__item">
          <div class="virtual-card__img"></div>
          <span class="virtual-card__name">Feel secure</span>
          <div class="virtual-card__text">
            <p>No magnetic strips, visible card numbers or PINs. No risk of overspending above prepaid limits</p>
          </div>
        </li>
        <li class="virtual-card__item">
          <div class="virtual-card__img"></div>
          <span class="virtual-card__name">Issue instanly</span>
          <div class="virtual-card__text">
            <p>Several clicks to create a card for any purpose and every employee</p>
          </div>
        </li>
        <li class="virtual-card__item">
          <div class="virtual-card__img"></div>
          <span class="virtual-card__name">Manage in real-time</span>
          <div class="virtual-card__text">
            <p>Set limits, freeze, track, top-up or block cards in just a minute from mobile or desktop</p>
          </div>
        </li>
      </ul>
      <a class="vartual-card__btn btn" href="#">Get card</a>
    </div>
  </div>
</section>