<section class="steps">
  <div class="container-big">
    <div class="steps__wrapper wrapper">
      <h2 class="steps__title section-title">5 steps to get your expenses in control</h2>

      <ul class="steps__list">
        <li class="steps__item">
          <div class="steps__img"></div>
          <span class="steps__name">Issue</span>
          <div class="steps__text">
            <p>plastic and virtual cards</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="steps__img"></div>
          <span class="steps__name">Customize</span>
          <div class="steps__text">
            <p>card limits and spending policies</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="steps__img"></div>
          <span class="steps__name">Track</span>
          <div class="steps__text">
            <p>expenses at a glance</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="steps__img"></div>
          <span class="steps__name">Snap</span>
          <div class="steps__text">
            <p>or upload receipts</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="steps__img"></div>
          <span class="steps__name">Import </span>
          <div class="steps__text">
            <p>accounting-ready data to your software</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>